.product-card {
    flex-direction: column;
    min-width: 0;
    display: flex;
    position: relative;
    box-shadow: 0 2px 5px #dfdfdf;
    background-color: #fafafa;
}

.badge {
    position: absolute;
    right: 0;
    top: .5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: #e84118;
    color: #f5f6fa;
    padding: 3px 10px;
    border-radius: 0px;
}

.product-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: .5rem;
    background-color: #f0f0f0;
}
.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    position: relative;
    padding: .5rem;
    height: 200px;
}

.product-details p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 18px;
    color: #999;
}

.product-details h6 a {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: color .4s ease-in-out;
}

.product-details h6 a:hover {
    color: #fbc531;
}

.product-bottom-details {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div{
    float: left;
    width: 50%;
}

.product-price {
    font-size: 24px;
    color: #fbc531;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a{
    display: inline-block;
    color: #e1e1e1;
    transition: color .3s ease-in-out;
    font-size: 24px;
    cursor: pointer;
}

.product-links a:hover {
    color: #fbc531;
}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}