<div class="product-card">
    <div class="product-thumb">
        <img [src]="product.image"
            alt="Card image cap">
    </div>
    
    <div class="product-details">
        <div *ngIf="getQuantity() > 0"
                class="badge">{{ getQuantity() }}</div>
        <span class="product-category">{{ product.department }}</span>
        <h6><a [routerLink]="['', product.productcode ]">{{ product.name }}</a></h6>
        <p>{{ product.description | truncate:[50] }}</p>
        <div class="product-bottom-details">
            <div class="product-price">{{ product.price | currency: product.currency }}</div>
            <div class="product-links">
                <a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>