<div class="list-group container-fluid">
    <div class="d-flex flex-row">
        <a  class="list-group-item list-group-item-action p-2"
            [class.active]="!category"
            routerLink="/">
        All Categories</a>
        <a *ngFor="let c of categories"
            routerLink="/"
            [queryParams]="{ category: c }"
            class="list-group-item list-group-item-action p-2"
            [class.active]="category === c">
        {{ c }}
        </a>
    </div>
</div>
