@import url('https://fonts.googleapis.com/css?family=Oswald');

.list-group {
    display: inline-block;
    border-top: solid #fbc531 10px;
}

.list-group-item {
    font-family: 'Oswald', sans-serif;
    background-color: #343a40;
    color: #f5f6fa;
    min-width: 0;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border-color: white;
    border-bottom: 0;
    border-top: 0px;
    border-right: solid white 1px;
    border-left: solid white 1px;
    transition: color .6s ease-in-out,
        margin .4s ease-in-out,
        background-color .4s ease-in-out;
}

.list-group-item.active {
    background-color: #fbc531;
    margin-bottom: -10px !important;
    border-color: transparent;
    border-right: solid white 1px;
    border-left: solid white 1px;
    color: #343a40;
    transition: color .4s ease-in-out,
        background-color .4s ease-in-out,
        margin .4s ease-in-out;
}

.list-group-item:hover {
    margin-bottom: -10px !important;
    background-color: #fbc531;
    color: #343a40;
    transition: color .4s ease-in-out,
        background-color .4s ease-in-out,
        margin .4s ease-in-out;
}

.container-fluid {
    padding-right: 0;
}

.list-group-item:first-child {
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

@media screen and (max-width: 768px) {
    .list-group-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    .list-group-item {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .list-group-item {
        font-size: 10px;
    }
}

@media screen and (max-width: 330px) {
    .list-group-item {
        font-size: 8px;
    }
}