<div class="row details-wrapper">
    <div class="product-thumb col-12 col-lg-6">
        <div *ngIf="getQuantity() > 0"
                class="badge">{{ getQuantity() }}</div>
        <img src="{{ product.image }}" alt="">
    </div>
    <div class="product-details col-12 col-lg-6">
        <h2>{{ product.name }}</h2>
        <span class="product-category">{{ product.department }}</span>
        <span class="product-store">{{ product.store }}</span>
        <p>{{ product.description }}</p>
        <div class="product-bottom-details">
            <span *ngIf="isInStock(product); else notAvailable" class="product-available">Available</span>
            <ng-template #notAvailable>
                <span class="product-not-available">Out of Stock</span>
            </ng-template>
            <div class="product-price">{{ product.price | currency: product.currency }}</div>
            <div class="product-links">
                <a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
        <!-- <p>Store: {{ product.store }}</p>
        <p>Stock: {{ product.instock }}</p> -->
    </div>
</div>