@import url('https://fonts.googleapis.com/css?family=Oswald');

.details-wrapper {
    margin-top: 1rem;
    margin-right: 0;
    margin-left: 0;
}

.badge {
    position: absolute;
    right: 0;
    top: .5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: #e84118;
    color: #f5f6fa;
    padding: 3px 10px;
    border-radius: 0px;
}

.product-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: .5rem;
    background-color: #f0f0f0;
}
.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-category {
    margin-top: .1rem;
    display: block;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}

.product-store {
    display: block;
    width: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #2c3e50;
    padding-left: 1rem;
    border: solid #343a40 2px;
    border-left: solid #343a40 10px;
    margin-bottom: 1rem;
}

.product-available {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: .75rem;
    color: #27ae60;
    margin-bottom: 10px;
}

.product-not-available {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    color: #c23616;
    margin-bottom: 10px;
}

.product-details {
    margin-top: 1rem;
    padding: 0;
}

.product-details p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 18px;
    color: #343a40;
}

.product-details h2{
    display: inline-block !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #343a40;
    text-decoration: none;
}

.product-bottom-details {
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div{
    float: left;
    width: 50%;
}

.product-price {
    font-size: 24px;
    color: #fbc531;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a{
    display: inline-block;
    color: #e1e1e1;
    transition: color .3s ease-in-out;
    font-size: 24px;
    cursor: pointer;
}

.product-links a:hover {
    color: #fbc531;
}

@media screen and (min-width: 992px) {
    
    .product-details {
        margin-top: 0;
        padding-left: 2rem;
    }

    .product-thumb {
        margin-top: .5rem;
    }
}