<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container navbar-container">
    <a class="navbar-brand" href="/"><fa name="contao" size="2x"></fa><span id="logo-text">ERPLY SHOP</span></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <span class="badge badge-warning badge-pill">{{ shoppingCartTotal }}</span>
              <fa name="shopping-cart" size="2x"></fa>
            </a>
        </li>
      </ul>
  </div>
</nav>