@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar-brand fa {
    color: #fbc531;
}

.nav-link {
    position: relative;
}

.nav-link .badge-warning {
    color: #343a40;
    background-color: #fbc531;
}

.nav-link .badge {
    position: absolute !important;
    top: 5px;
    right: -.5rem;
    font-size: 60%;
}

#logo-text {
    font-family: 'Oswald', sans-serif;
    color: #f5f6fa;
    position: relative;
    margin-left: 10px;
    font-size: 30px;
}

.navbar-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 576px) {
    .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }
}