@import url('https://fonts.googleapis.com/css?family=Oswald');

#cart-title {
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.cart-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width:100px;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.cart-thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

.btn-danger {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: #fbc531;
    color: #343a40;
    border-color: #fbc531;
    border-radius: 0px;
    font-weight: 700;
}

.btn-danger:hover {
    background-color: #edb110;
}

.btn-outline-danger {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

td {
    vertical-align : middle;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

th {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.remove-btn-container {
    text-align: center;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 768px) {

    .table {
        font-size: .85rem;
    }

    .cart-thumbnail {
        height: 80px;
        width: 80px;
        padding: .8rem;
    }
}

@media screen and (max-width: 560px) {

    .table {
        font-size: .75rem;
    }

    .btn-outline-danger {
        font-size: .75rem;
    }

    .cart-thumbnail {
        height: 60px;
        width: 60px;
        padding: .6rem;
    }
}
@media screen and (max-width: 478px) {

    .btn-outline-danger {
        font-size: .55rem;
    }

    .cart-thumbnail {
        height: 40px;
        width: 40px;
        padding: .4rem;
    }
}
@media screen and (max-width: 460px) {

    .cart-thumbnail {
        height: 20px;
        width: 20px;
        padding: .2rem;
    }
}
@media screen and (max-width: 370px) {

    .table {
        font-size: .55rem;
    }

    .cart-thumbnail {
        height: 20px;
        width: 20px;
        padding: .2rem;
    }
}