<h2 id="cart-title">Shopping Cart</h2>
<div class="row" *ngIf="shoppingCart$ | async as shoppingCart">
    <div class="col-12">
        <p>
            You have {{ shoppingCartTotal }} items in your shopping cart.
        </p>
        <button (click)="clearShopingCart()"
            class="btn btn-danger col-12">Clear Shopping Cart</button><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-right">Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productId of productsIds">
                    <td>
                        <div class="cart-thumbnail">
                            <img [src]="shoppingCart.products[productId].product.image" alt="">
                        </div>
                    </td>
                    <td>{{ shoppingCart.products[productId].product.name }}</td>
                    <td class="text-center">{{ shoppingCart.products[productId].quantity }}</td>
                    <td class="text-right">{{ (shoppingCart.products[productId].product.price *
                        shoppingCart.products[productId].quantity) | currency: "EUR" }}</td>
                    <td class="remove-btn-container"><button (click)="removeFromCart(shoppingCart.products[productId].product)" class="btn btn-outline-danger">Remove</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right">{{ totalCartPrice | currency: 'EUR' }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>