@import url('https://fonts.googleapis.com/css?family=Oswald');

.stock-btn-instock {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #343a40;
    color: #f5f6fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 4px solid #343a40;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: color .3s ease-in-out,
        background-color .3s ease-in-out,
        border-color .3s ease-in-out,
        box-shadow .3s ease-in-out;
}

.stock-btn-all {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 4px solid #343a40;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: color .3s ease-in-out,
        background-color .3s ease-in-out,
        border-color .3s ease-in-out,
        box-shadow .3s ease-in-out;
}
.stock-btn-all:hover {
    background-color: rgb(52, 58, 64, 0.25);
}

.stock-btn-instock:hover {
    background-color: rgb(52, 58, 64, 0.75);
}