
<div class="row">
    <div class="col-12">
        <categories-filter [category]="category"
        [categories]="categories"></categories-filter>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"
        [class.stock-btn-all]="inStock.length === 2"
        [class.stock-btn-instock]="inStock.length === 1"
        (click)="changeStock()"
        >{{ inStockLabel }}</div>
    </div>
</div><br>

<div class="row">
    <ng-container *ngFor="let product of filteredProducts; let i = index;">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <product-card [product]="product" [shopping-cart]="shoppingCart"></product-card>
        </div>
    </ng-container>
</div>